<h1>Hello World</h1>
<hr>

<table id="users">
  <tr>
    <th *ngFor = "let column of headers">
      {{column}}
    </th>
  </tr>

  <tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers">
      {{row[column]}}
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
